/* Add CSS stylesheet */
.header {
    /* These are just the default CSS properties for h1 header tags */
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background-color: white;
    text-align: left;
    display: flex;
    height: 5%;
}

#navbar {
    display: block;
    background-color: white;
}


.box {
    display: block;
    background-color: antiquewhite;
    text-align: center;
}

#main {
    background-color: bisque;
}




.headeritem {
    flex: 1;
    background-color: lightgray;
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-align: center;
    font-size: 16px;

}

.headeritem:hover {
    background-color: orangered;
    color: white
}

#home {
    flex: 1;
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    color: orangered;
    text-align: center;
    font-size: 24px;
}

#searchbar {
    flex: 4;
    border-radius: 30px;
    text-align: center;
    margin-left: 30%;
    margin-top: 3px;
    margin-bottom: 3px;

}

#searchbar:hover {
    background-color: antiquewhite;

}

#search {
    background-color: white;
    border-radius: 30px;
    margin-right: 15%;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}

#search:hover {
    background-color: antiquewhite;
}

#flex_wrapper {
    display: flex;
    background-color: darkgray;
    height: 80%;
}

#flex_wrapper>div {
    text-align: center;
}

#leftbox {
    background-color: white;
    margin-right: 3px;
    flex: 1;
}

.leftboxitem {
    background-color: lightgray;
    width: 250px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-align: center;
    font-size: 16pt;
}

.leftboxitem:hover {
    background-color: orangered;
    color: black;
}

#currentcommu {
    text-align: left;
    margin: 20px 0 0 0;
    padding-left: 5%;
    font-weight: bold;
    font-size: 150%;
}

#leftbox ul {
    text-align: left;
}

#leftbox ul li {
    list-style: none;
    margin-bottom: 15px;
}

#midbox {
    background-color: white;
    margin-right: 3px;
    margin-left: 3px;
    flex: 5;
}


.midboxHeader {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 78%;
    margin: 0;
}

.rightsideHeader button:hover {
    background-color: orangered;
    color: white;
}

.midboxHeader h2 {
    margin: 0%;
    color: orangered;

}

#midbox h3 {
    text-align: left;
    margin-left: 1%;
}

.postContainer {
    text-align: left;
    margin-left: 3%;
    padding: 0;
}

.postContainer hr {
    margin-bottom: 30px;
    border: none;
    border-top: 2px dotted black;

}

.postContainer .posts .postOne {
    margin: 0;
    padding-bottom: 0.5%;
}

.postContainer .posts h2 {
    color: orangered
}

.postContainer .posts ul {
    padding: 0;
    margin: 0;
}

.postContainer .posts ul li {
    display: inline-block;
}

.postContainer .posts .postTwo {
    margin: 0;
    padding-bottom: 0.5%;
}

.postsFooter {
    display: flex;
    justify-content: left;
    column-gap: 2%;
}

.rightboxitem:hover {
    background-color: antiquewhite;
    color: black;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: orange;
    text-align: center;
}